*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg: #F4F8FF;
  --second-bg: #DCEBFF;
  --accent: #3A7BFF;
}

body{
  height: 100vh;
  width: 100%;
  font-family: "JetBrains Mono", monospace;
  background-color: white;
  display: flex;
  justify-content: center;
  cursor: default;
}

.root{
  background-color: var(--main-bg);
  height: 100%;
  width: 100%;
  max-width: 1600px;
  padding: 20px;
}